{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Askme</title>
    <link rel="stylesheet" href="{% static "css/bootstrap.css" %}">
    {% csrf_token %}
</head>
<body>
    <nav class="navbar bg-light">
        <div class="container-fluid">
            <div class="mx-5">
                <a class="navbar-brand" href="{% url "index" %}">
                    AskPupkin
                </a>
            </div>
            <div class="row">
                <div class="col-8">
                    <form role="search">
                        <input class="form-control" placeholder="Search">
                    </form>
                </div>
                <div class="col">
                    <form action="{% url "ask" %}">
                        <button class="btn btn-primary">
                            ASK!
                        </button>
                    </form>
                </div>
            </div>
            <div class="d-flex gap-3">
                {% if request.user.is_authenticated %}
                    <div class="d-flex align-items-center">
                        {% if request.user.is_authenticated %}
                            <img src="{{ profile.avatar.url }}" width="70px" height="70px">
                        {% endif %}
                    </div>
                    <div class="me-5">
                        <div>
                            <p class="mx-2 my-2 h5">{{ request.user.first_name }}</p>
                        </div>
                        <div>
                            <span class="mx-2 my-1">
                                <a href="{% url "settings" %}" class="h5">settings</a>
                            </span>
                            <span class="mx-2 my-1">
                                <a href="{% url "logout" %}?continue={{ request.path }}" class="h5">log out</a>
                            </span>
                        </div>
                    </div>
                {% else %}
                    <div class="me-5 my-3">
                        <span class="mx-2 my-1">
                            <a href="{% url "login" %}?continue={{ request.path }}" class="h5">log in</a>
                        </span>
                        <span class="mx-2 my-1">
                            <a href="{% url "signup" %}" class="h5">register!</a>
                        </span>
                    </div>
                {% endif %}
            </div>
        </div>
    </nav>
    <main>
        <div class="row">
            <div class="col-8 px-4">
                {% block content %}
                {% endblock %}
            </div>
            <div class="col-4">
                <h2 class="my-3">Popular tags</h2>
                <div>
                    <span class="badge text-bg-primary">perl</span>
                    <span class="badge text-bg-secondary">Python</span>
                    <span class="badge text-bg-success">TechnoPark</span>
                    <span class="badge text-bg-danger">MySQL</span>
                    <span class="badge text-bg-warning">django</span>
                    <span class="badge text-bg-info">Mail.ru</span>
                    <span class="badge text-bg-light">Voloshin</span>
                    <span class="badge text-bg-dark">Firefox</span>
                </div>
                <h2 class="my-3">Best Members</h2>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">
                        <a href="">Mr. Freeman</a>
                    </li>
                    <li class="list-group-item">
                        <a href="">Dr. House</a>
                    </li>
                    <li class="list-group-item">
                        <a href="">Bender</a>
                    </li>
                    <li class="list-group-item">
                        <a href="">Queen Victoria</a>
                    </li>
                    <li class="list-group-item">
                        <a href="">V. Pupkin</a>
                    </li>
                </ul>
            </div>
        </div>
    </main>
    <script src="{% static "/js/app.js" %}"></script>
</body>
</html>