{% extends "layouts/base.html" %}

{% block content %}
    <div class="row m-3">
        <h2>
            Log In
        </h2>
    </div>
    <form class="need-validation" method="post">
        {% csrf_token %}
        <div class="row my-3">
            <div class="col-2 text-end">
                <span>Login</span>
            </div>
            <div class="col-4">
                <input type="text" name="{{ form.username.html_name }}" value="{{ form.username.value|default_if_none:"" }}" placeholder="Enter your login here" class="form-control {% if form.non_field_errors %}is-invalid{% endif %}" maxlength="{{ form.username.field.max_length }}" required>
            </div>
        </div>
        <div class="row my-3">
            <div class="col-2 text-end my-2">
                <span>Password</span>
            </div>
            <div class="col-4">
                <input type="password" name="{{ form.password.html_name }}" placeholder="Enter your password here" class="form-control {% if form.non_field_errors %}is-invalid{% endif %}" maxlength="{{ form.password.field.max_length }}" required>
                <div class="invalid-feedback">
                    {{ form.non_field_errors }}
                </div>
            </div>
        </div>
        <div class="row my-3">
            <div class="col-2"></div>
            <div class="col-2">
                <button type="submit" class="form-control">Log in!</button>
            </div>
        </div>
    </form>
    <div class="row my-3">
        <div class="col-2"></div>
        <div class="col">
            <a href="{% url "signup" %}">create new account</a>
        </div>
    </div>
{% endblock content %}