{% extends "layouts/base.html" %}

{% block content %}
    <div class="row m-3">
        <h2>
            Log In
        </h2>
    </div>
    <form class="need-validation">
        <div class="row my-3">
            <div class="col-2 text-end">
                <span>Login</span>
            </div>
            <div class="col-4">
                <input type="text" placeholder="Enter your login here" class="form-control" required>
            </div>
        </div>
        <div class="row my-3">
            <div class="col-2 text-end my-2">
                <span>Password</span>
            </div>
            <div class="col-4">
                <input type="password" placeholder="Enter your login here" class="form-control is-invalid" value="password" required>
                <div class="invalid-feedback">
                    Wrong password!
                </div>
            </div>
        </div>
        <div class="row my-3">
            <div class="col-2"></div>
            <div class="col-2">
                <button type="submit" class="form-control">Log in!</button>
            </div>
        </div>
    </form>
    <div class="row my-3">
        <div class="col-2"></div>
        <div class="col">
            <a href="{% url "signup" %}">create new account</a>
        </div>
    </div>
{% endblock content %}