{% extends "layouts/base.html" %}

{% block content %}
    <form class="need-validation">
        <div class="row">
            <div class="d-flex gap-3 m-3">
                <h2>Settings:</h2>
                <h2>Dr. Pepper</h2>
            </div>
        </div>
        <div class="row my-3 align-items-center">
            <div class="col-2 text-end">
                <span>Login</span>
            </div>
            <div class="col-6">
                <input type="text" class="form-control" value="dr_pepper" required>
            </div>
        </div>
        <div class="row my-3 align-items-center">
            <div class="col-2 text-end">
                <span>Email</span>
            </div>
            <div class="col-6">
                <input type="text" class="form-control" value="dr.pepper@mail.ru">
            </div>
        </div>
        <div class="row my-3 align-items-center">
            <div class="col-2 text-end">
                <span>NickName</span>
            </div>
            <div class="col-6">
                <input type="text" class="form-control" value="Dr. Pepper">
            </div>
        </div>
        <div class="row my-3">
            <div class="col-2 text-end">
                <span>Upload avatar</span>
            </div>
            <div class="col">
                <img src="" alt="" width="100px" height="100px">
            </div>
        </div>
        <div class="row my-3">
            <div class="col-2"></div>
            <div class="col-6">
                <input type="file" class="form-control">
            </div>
        </div>
        <div class="row my-3">
            <div class="col-2"></div>
            <div class="col-2">
                <button type="submit" class="form-control">Save</button>
            </div>
        </div>
    </form>
{% endblock content %}