{% extends "layouts/base.html" %}

{% block content %}
    <div class="row m-3">
        <h2>
            Registration
        </h2>
    </div>
    <form class="need-validation">
        <div class="row my-3 align-items-center">
            <div class="col-2 text-end">
                <span>Login</span>
            </div>
            <div class="col-4">
                <input type="text" class="form-control" value="dr_pepper" required>
            </div>
        </div>
        <div class="row my-3">
            <div class="col-2 my-2 text-end">
                <span>Email</span>
            </div>
            <div class="col-4">
                <input type="text" class="form-control is-invalid" value="dr.pepper@mail.ru" required>
                <div class="invalid-feedback">
                    Sorry, this email address is already registered
                </div>
            </div>
        </div>
        <div class="row my-3 align-items-center">
            <div class="col-2 text-end">
                <span>NickName</span>
            </div>
            <div class="col-4">
                <input type="text" class="form-control" value="Dr. Pepper" required>
            </div>
        </div>
        <div class="row my-3 align-items-center">
            <div class="col-2 text-end">
                <span>Password</span>
            </div>
            <div class="col-4">
                <input type="password" class="form-control" value="password" required>
            </div>
        </div>
        <div class="row my-3 align-items-center">
            <div class="col-2 text-end">
                <span>Repeat password</span>
            </div>
            <div class="col-4">
                <input type="password" class="form-control" value="password" required>
            </div>
        </div>
        <div class="row my-3 align-items-center">
            <div class="col-2 text-end">
                <span>Upload avatar</span>
            </div>
            <div class="col-4">
                <input type="file" class="form-control">
            </div>
        </div>
        <div class="row my-3">
            <div class="col-2"></div>
            <div class="col-2">
                <button type="submit" class="form-control">Register!</button>
            </div>
        </div>
    </form>
{% endblock content %}