{% load static %}

<div class="answer-card m-3 p-2 border" id="{{ answer.id }}" data-answer-id="{{ answer.id }}" data-question-id="{{ question.id }}">
    <div class="row">
        <div style="width: 120px;">
            <div class="border m-1">
                <img src="{{ answer.author.avatar.url }}" class="w-100" style="height: 100px;">
            </div>
        </div>
        <div class="col">
            <p>
                {{ answer.text }}
            </p>
        </div>
    </div>
    <div class="row align-items-end">
        <div style="width: 120px;">
            <div class="input-group p-1 text-center">
                <input type="number" value="{{ answer.rating }}" class="form-control card-counter" style="text-align: center;" disabled>
                <div>
                    <button class="btn card-like {% if answer in liked_answers %}border-dark{% endif %}" data-answer-id="{{ answer.id }}" {% if not user.is_authenticated %}disabled{% endif %}>
                        <img src="{% static "/img/up.webp" %}" width="20px">
                    </button>
                    <button class="btn card-dislike {% if answer in disliked_answers %}border-dark{% endif %}" data-answer-id="{{ answer.id }}" {% if not user.is_authenticated %}disabled{% endif %}>
                        <img src="{% static "/img/down.jpg" %}" width="20px">
                    </button>
                </div>
            </div>
        </div>
        <div class="col">
            <div class="form-check" {% if question.author != profile %}hidden{% endif %}>
                <input type="checkbox" class="form-check-input card-checkbox" {% if answer.is_correct %}checked{% endif %}>
                <label class="form-check-label">Correct!</label>
            </div>
        </div>
    </div>
</div>